<section class="page"><div class="centered-box">
  <h1>Edit My Cat</h1>
  <%= render 'shared/errors' %>
  <%= render 'form', cat: @cat %>
  
<% content_for :header do %>
  <p>This is the cats edit page. Enjoy editing your furry friend!</p>
<% end %>
<%= yield :header %>
</div></section>
